.checker-block {
  width: 120px;
  height: 120px;
  display: inline-block;
  background-color: rgba(100,0,0,0.8);
}
.checker-block--dark {
  background-color: rgba(0,0,0,0.5);
}

.checker-block__board {
  border: 20px solid rgba(0,0,0,0.5);
}
